<article class="relative h-screen">
    <div class="relative flex items-center justify-center h-full text-center">
        <video autoplay muted loop class="flex z-0 absolute inset-0 w-full h-full object-cover">
            <source src="videos/sunset_background.mp4" type="video/mp4">
            Seu navegador não suporta vídeo em HTML5.
        </video>
        <div class="relative z-10 text-white">
            <h1 class="text-5xl font-bold">Welcome to my Ecomerce</h1>
            <p class="mt-4 text-2xl">Discover amazing products for you.</p>
            <a href="#about" class="inline-block mt-8 px-6 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700">Learn More</a>
        </div>
    </div>
</article>
