<div class="flex justify-center mt-40">
    <form class="flex flex-col items-center">
        <div class="flex justify-around border p-8 mb-8">
            <div class="felx flex-col mr-20">
                <div class="flex mb-4">
                    <label for="product-name">Nome Produto: </label>
                    <input type="text" id="product-name" class="border-b ml-4">
                </div>
                <div class="flex mb-4">
                    <label for="product-name">Marca: </label>
                    <input type="text" id="product-name" class="border-b ml-4">
                </div>
                <div class="flex flex-col mb-4">
                    <label for="product-description">Descrição Produto: </label>
                    <textarea id="product-description" class="outline-none border-b ml-4"></textarea>
                </div>
                <div class="flex mb-4">
                    <label for="product-name">Modelo: </label>
                    <input type="text" id="product-name" class="border-b ml-4">
                </div>
                <div class="flex mb-4">
                    <label for="product-name">Edição: </label>
                    <input type="text" id="product-name" class="border-b ml-4">
                </div>
                <div class="flex mb-4">
                    <label for="product-name">Preço do Produto: </label>
                    <input type="text" id="product-name" class="border-b ml-4">
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex mb-8">
                    <label for="category">Categoria: </label>
                    <input type="text" id="category" class="border-b ml-4">
                </div>
                <div class="flex mb-8">
                    <label for="category">Tamanho: </label>
                    <input type="text" id="category" class="border-b ml-4">
                </div>
                <div class="flex mb-8">
                    <label for="category">Gênero: </label>
                    <input type="text" id="category" class="border-b ml-4">
                </div>
                <div class="flex">
                    <label for="category">Valor Final: </label>
                    <input type="text" id="category" class="border-b ml-4">
                </div>
            </div>
        </div>
        <input type="submit" value="Finalizar Cadastro" class="border py-1 px-4 bg-black text-slate-50">
    </form>
</div>
