<div class="p-5 flex justify-between">
    <div class="flex ml-10">
        <label for="brand-search" class="mr-10">Marca</label>
        <input type="text" name="brand-search" id="brand-search" class="outline-none border w-12">
    </div>
    <div class="flex justify-around">
        <div class="mx-4">
            <input type="button" value="!" class="mx-5">
            <label for="">Categoria</label>
        </div>
        <div class="mx-4">
            <input type="button" value="!" class="mx-5">
            <label for="">Tamanho</label>
        </div>
        <div class="mx-4">
            <input type="button" value="!" class="mx-5">
            <label for="">Gênero</label>
        </div>
    </div>
</div>
