<div class="py-20 relative flex justify-center">
  <div class="mb-10 flex justify-center">
    <div class="flex justify-around mx-10 w-full space-x-20">
      <div 
        *ngFor="let product of visibleProducts"
        [ngClass]="{ 'opacity-0': isTransitioning, 'opacity-100': !isTransitioning }"
        class="transition-opacity duration-300 ease-in-out transform hover:scale-105 flex flex-col w-80 h-96 p-4 relative border shadow-lg bg-white cursor-pointer hover:shadow-2xl">
        <div class="w-full h-40 flex justify-center mb-4">
          <img [src]="product.thumbnail" alt="{{ product.title }}" class="object-contain h-full">
        </div>
        <h4 class="mb-4 text-xl">{{ product.title }}</h4>
        <p class="flex-grow mb-4 overflow-hidden">{{ product.description }}</p>
        <div class="flex justify-between items-center absolute bottom-4 left-4 right-4">
          <p class="text-lg font-semibold">{{ product.price | currency:'BRL' }}</p>
          <input type="button" value="Add to cart" class="border py-1 px-3 bg-blue-500 text-white cursor-pointer hover:bg-blue-600" (click)="addToCart(product)">
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between px-52 absolute w-full top-1/2">
    <button (click)="moveLeft()" class="carousel-arrow left-arrow text-xl bg-zinc-300 text-zinc-600 py-1 px-3 rounded-3xl" aria-label="Mover para a esquerda">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button (click)="moveRight()" class="carousel-arrow right-arrow text-xl bg-zinc-300 text-zinc-600 py-1 px-3 rounded-3xl" aria-label="Mover para a direita">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
  <div *ngIf="showSuccessPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h3 class="text-lg font-bold text-gray-700">Produto adicionado ao carrinho!</h3>
      <p class="text-sm text-gray-500 mt-2">Seu produto foi adicionado com sucesso ao carrinho.</p>
      <button (click)="closeSuccessPopup()" class="bg-green-500 hover:bg-green-400 text-white py-2 px-4 rounded mt-4">
        Fechar
      </button>
    </div>
  </div>
</div>
